.section1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient( to right, red,green, 60%, yellow);
}

.section2{
  border: 2px solid red;
  border-radius: 15px;
  width: 800px;
  margin: 0px auto;
  margin-top: 15px;
  text-align: center;
  background-color: turquoise;
  font-weight: bold;
}

ul{
  display: inline-block;
  text-align: left;
}

.section3{
  border: 2px solid black;
  border-radius: 15px;
  background-color: aquamarine;
  margin-top: 30px;
  padding-top: 15px;
}

.box1{
  display: flex;
  flex-direction: row;
}

.p1 {
  border: 2px solid green;
  border-radius: 15px;
  background-color: #00FFFF;
  font-weight: bold;
  height: 50px;
  width: 350px;
  padding: 21px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.box4{
  margin-left: 415px;
  margin-bottom: -14px;
}

.section4{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient( to right, red,yellow 60%, red);
}

.section5{
  display: flex;
  justify-content: space-evenly;
  background: radial-gradient(blue,aqua,green);
  height: 200px;
  align-items: center;
}

.box5{
  border: 2px solid red;
  background-color: yellow;
  color: brown;
  text-align: center;
  text-decoration: underline;
  border-radius: 10px;
  font-weight: bold;
  width: 200px;
  height: 100px;
  padding-bottom: 10px;
}

.section6{
  display: grid;
  border: 2px solid black;
  margin-top: 5px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  width: 1250px;
  height: auto;
}

.h{
  background-color: red;
  color: white;
  grid-column: 1 / 5;
  text-align: center;
}

.one{
  background-color: lightgreen;
  height: 70px;
  width: 360px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
}

.two{
  background-color: lightblue;
  color: aliceblue;
  height: 70px;
  width: 360px;
  font-size: 25px;
  font-weight: bold;
}

.three{
  background-color: blue;
  color: white;
  height: 70px;
  width: 360px;
  font-size: 22px;
  font-weight: bold;
}

.four{
  background-color: black;
  color: white;
  height: 185px;
  width: 130px;
  text-decoration: underline;
  grid-column-start: 4;
  grid-row: 2 / 8;
}

.five{
  height: 100px;
  color: white;
  background-color: orange;
  grid-column: 1 / 4;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

.last{
  color: black;
  background-color: aqua;
  grid-column: 1 / 5;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}



