/* .main {
    text-align: center;
    position: relative;
    top: 250px;
    left: 250px;
    font-size: 24px;
    width: 300px;
    height: 300px;
    background-color: rosybrown;
    transition-duration: 3s;
} */
/* .main:hover {
    width: 300px;
    height: 300px;
} */

/* .main {
    animation-name: utk;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition-delay: 4s;
    animation-delay: 3s;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    background-color: rosybrown;
    transition-duration: 5s;
    position: relative;
}
.p{
    font-size: 2rem;

}

.order{
    background-color: rgb(137, 17, 17);
    width: 100px;
    height: 100px;
}
@keyframes utk {
    0% {
        background-color: rosybrown;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: lightgreen;
        top: 0px;
        left: 250px;
    }
    50% {
        background-color: lightcoral;
        top: 250px;
        left: 250px;
    }
    75% {
        background-color: lightyellow;
        top: 250px;
        left: 0px;
    }
    100% {
        background-color: lightblue;
        top: 0px;
        left: 0px;
    }
} */
/* 
.card {
    width: 500px;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 250px;
    top: 250px;
    padding: 20px;
    box-sizing: border-box;

} */
/* p:nth-child(even) {
    background-color: red;
}
p:nth-child(odd) {
    background-color: blue;
}
p::first-letter{
    font-size: 25px;
}  */

/* combinators */
/* div ~p{
    background-color: greenyellow;
} */


.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    background-color: orangered;
    transition-duration: 3s;
}

.card {
    width: 150px;
    height: 200px;
    background-color: blue;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translate(-5px);
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: row;
        align-items: center;
    }
}